<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Hydrion Tools</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../public/styles.css">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    <div class="container">
        <%- include("partials/sidebar") %>
        <main class="main-content">
            <%- include(body) %>
        </main>
    </div>
    <script>
        lucide.createIcons();
    </script>
</body>
</html>