<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selfbot Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black text-white">

    <%- include("./topbar") %>

    <main class="container mx-auto px-4 py-6">
        <%- body %>
    </main>

    <%- include("./footer") %> 

</body>
</html>