<%- include("./base/layout", { body: `
    <div class="text-center space-y-4">
        <div class="bg-gray-900 text-white p-4 rounded-lg shadow-md">
            <p><b>Username:</b> <span id="username"></span></p>
            <p><b>Servers:</b> <span id="servers"></span></p>
            <p><b>Ping:</b> <span id="ping"></span></p>
            <p><b>Uptime:</b> <span id="uptime"></span></p>
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        socket.on("stats", (data) => {
            document.getElementById("username").innerText = data.username;
            document.getElementById("servers").innerText = data.servers;
            document.getElementById("ping").innerText = data.ping + "ms";
            document.getElementById("uptime").innerText = data.uptime;
        });
    </script>
` }) %>